*{
    list-style: none;
    /* padding-top: 5%; */
    /* margin-top: 0%; */
    
}
body{
    background-color:whitesmoke;


}
.lista{
    padding-left: 5%;
}
.container-admin{
    padding-left: 20%;  
    display: flex;
    
}
#lista{
    flex-direction: row;
    margin: 4px;
    padding: 5px;
    align-items: center;
}
.container{
    width: 70%;
    padding-top: 0%;
    margin-top: 1%;
    border: 0px;
    padding-left: 0%;   
}
h6{
    text-align: center;
}
.lista{
    padding-top: 2%;
    background-color: whitesmoke;
}
/*  ESCONDER BOTON LOG OUT  */
#userName{
    color: whitesmoke;
}
.form-control{
    width: 60%;
}
.formAdd{
    padding-left: 24%;  
    width:
     75%;
    /* height: 300px; */
    /* align-items: center; */
}
ul{
    width: 80%;
}
img{
    max-width: 100%; 
}
#seriesDeGenero{
    padding-left: 20%;  
    width: 80%;
}
#LogOut, #login, #signin{
    margin-right: 5px;
    }