*{
    list-style: none;
    /* padding-top: 5%; */
    /* margin-top: 0%; */
    
}
body{
    background-color:#00EB8D;

}
.container{
    width: 70%;
    padding-top: 0%;
    margin-top: 1%;
    border: 0px;
    padding-left: 0%;
}

h6{
    text-align: center;
}

.form-control{
    width: 60%;
}
.formAdd{
    padding-left: 24%;  
    width: 65%;
    /* height: 300px; */
    /* align-items: center; */
}
ul{
    width: 80%;
}
